import os

class Config:
    """
    Class used for configurating the flask app object. Each property represents a key used in the configuration 
    object used in flask.
    """
    DEBUG = True # fixed value
    # database
    SQLALCHEMY_DATABASE_URI = f"postgresql://{os.getenv('POSTGRES_USER')}:{os.getenv('POSTGRES_PASSWORD')}@localhost/{os.getenv('POSTGRES_DB')}"
    SQLALCHEMY_TRACK_MODIFICATIONS = False
    # secret key for cookies
    SECRET_KEY = os.getenv("COOKIE_SECRET_KEY")