class Config:
    """
    Class used for configurating the flask app object. Each property represents a key used in the configuration 
    object used in flask.
    """
    DEBUG = True
    # database
    SQLALCHEMY_DATABASE_URI = (
        "postgresql://username:password@localhost/database_name"
    )
    SQLALCHEMY_TRACK_MODIFICATIONS = False
    # secret key for cookies
    SECRET_KEY = "secret-key"