<div class="uk-container uk-flex uk-flex-center uk-flex-middle uk-height-viewport">
  <div class="uk-card uk-card-default uk-card-body">
    <h3 class="uk-card-title">Sign Up</h3>
    <form [formGroup]="form" (ngSubmit)="signUp()">
      <div class="uk-margin">
        <div class="uk-inline uk-width-1">
          <span class="uk-form-icon" uk-icon="icon: user"></span>
          <input class="uk-input" type="text" placeholder="Username" formControlName="username" name="username" required>
        </div>
        <div class="error-message" *ngIf="form.controls['username'].invalid && form.controls['username'].dirty">
          Username is required.
        </div>
      </div>
      <div class="uk-margin">
        <div class="uk-inline uk-width-1">
          <span class="uk-form-icon" uk-icon="icon: lock"></span>
          <input class="uk-input" type="password" placeholder="Password" formControlName="password" name="password" required>
        </div>
        <div class="error-message" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].dirty">
          Password is required.
        </div>
      </div>
      <div class="uk-margin">
        <div class="uk-inline uk-width-1">
          <span class="uk-form-icon" uk-icon="icon: lock"></span>
          <input class="uk-input" type="password" placeholder="Confirm Password" formControlName="confirmPassword" name="confirmPassword" required>
        </div>
        <div class="error-message" *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['password'].hasError('required') && form.controls['confirmPassword'].dirty">
          Please enter a passsword.
        </div>
        <div class="error-message" *ngIf="(form.controls['confirmPassword'].hasError('match') || form.controls['password'].hasError('match')) && form.controls['confirmPassword'].dirty">
          Passwords do not match.
        </div>
      </div>
      <div class="uk-margin">
        <!-- Input for photo upload -->
        <input type="file" class="uk-input" accept="image/*" formControlName="photo" (change)="displaySelectedImage($event)" name="photo">
        <div class="error-message" *ngIf="form.controls['photo'].invalid && form.controls['photo'].dirty">
          Please select a photo.
        </div>
      </div>

      <!-- Webcam option -->
      <div class="uk-margin">
        <p>
          <a (click)="toggleWebcam()">{{ showWebcam ? 'Close Webcam' : 'Use Webcam'  }}</a>
        </p>
      </div>

      <!-- Webcam video and capture button -->
      <div *ngIf="showWebcam">
        <div class="uk-margin">
          <!-- Video element for webcam feed -->
          <div class="image-container">
            <video #webcamVideo autoplay muted></video>
          </div>
        </div>
        <div class="uk-margin">
          <!-- Button to capture photo from webcam -->
          <button class="uk-button uk-button-primary" (click)="captureWebcamPhoto()">Take a Picture</button>
        </div>
      </div>

      <div class="uk-margin">
        <!-- Image preview -->
        <div class="image-container">
          <img [src]="photoDataUrl" alt="Selected Image" *ngIf="photoDataUrl">
        </div>
      </div>
      <div class="uk-margin">
        <button class="uk-button uk-button-primary uk-width-1" type="submit">Sign Up</button>
        <button (click)="test()">test</button>
      </div>
    </form>
    <p>Already have an account? <a routerLink="/login">Login</a></p>
  </div>
</div>