/* You can add global styles to this file, and also import other style files */
html, body {
  background-color: #f2f2f2;
  margin: 0;
  height: 100%;
}

// global styles for ShowcaseComponent and any component used under the route /showcase
@import './assets/scss/showcase.scss';