/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f2f2f2;
  margin: 0;
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.image-layer {
  background-image: url('./assets/svgs/image-layer-900x300.svg');
}