.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.image-layer {
  z-index: auto;
  background-image: url('../svgs/image-layer-900x300.svg');
}

.top-strip {
  transform: scaleY(-1);
  position: fixed;
  top: 0px;
}

.bottom-strip {
  position: fixed;
  bottom: 0px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;

  h1.app-title {
    margin-top: 0;
    margin-bottom: 16px;
    color: #333333;
    font-size: 24px;
    font-weight: normal;
    z-index: 999;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }

  .button {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #4CAF50;
    /* Green */
    color: white;

    &:hover {
      background-color: #3e8e41;
      /* Dark green */
    }

    &:disabled {
      opacity: .65;

      &:hover {
        background-color: #4CAF50;
      }
    }
  }
}

canvas {
  position: absolute;
  z-index: 998; // should appear behind buttons with z-index: 999
}